html {
    scroll-behavior: smooth;
}
body {
    width: 1920px;
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    height: 94px;
    padding-top: 26px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.wrapper {
    width: 1620px;
    margin: 0 auto;
}
.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
    font-size: 0.1px;
}
h3 {
    margin: 0;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #333333;
}
h4 {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    margin: 0;
}
.main-nav {
    width: 573px;
    height: 23px;
}
.main-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.main-nav-list li {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.main-nav-list li.active {
    font-weight: 900;
    text-decoration: underline;
}
.main-nav-list li a {
    color: #333333;
}
.main-nav-list li a:hover {
    font-weight: 900;
    transition: all 0.3s ease-out;
}
.active a:hover {
    cursor: default;
}
.toggle-button {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
    margin: 0;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggle-button::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggle-button:checked::after {
    transform: translateX(90%);
    background-color: #1b1b1b;
}
.toggle-button:checked {
    background-color: #4f4f4f;
}

/*btn*/
.btn {
    width: 245px;
    height: 55px;
    margin: 0 auto;
    background-image: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
.btn:hover {
    cursor: pointer;
    background-image: linear-gradient(106.89deg, #4BD8B9 -14.32%, #3ec7d0 100.68%);
}
.btn-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
.btn-watch__img {
    margin-right: 5px;
}

/*main*/
.main {
    display: flex;
    height: 910px;
}

/*footer*/
.footer {
    width: 100%;
    height: 751px;
    background: #333333;
    padding-top: 100px;
    box-sizing: border-box;
}
.footer-top {
    height: 54px;
    display: flex;
    align-items: center;
    margin-bottom: 57px;
}
.footer-logo {
    flex-basis: 51%;
}
.footer-top__box {
    flex-basis: 49%;
    display: flex;
}
.footer-nav {
    width: 378px;
    margin-right: 140px;
}
.footer-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #fefefe;
}
.footer-nav__list li a {
    color: #fefefe;
}
.footer-nav__list li a:hover {
    font-weight: 900;
    transition: all 0.3s ease-out;
}
.active a:hover {
    cursor: default;
}
.donate {
    width: 275px;
    font-weight: 500;
}
.contacts-container {
    display: flex;
}
.contacts-form-container {
    flex-basis: 51%;
}
.contacts {
    flex-basis: 49%;
}
.contacts-form__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #fefefe;
    margin-bottom: 33px;
}
.contacts-form {
    position: relative;
    width: 383px;
    height: 292px;
    display: flex;
    flex-direction: column;
}
.contacts-form__name,
.contacts-form__email {
    height: 23px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    background-color: #333333;
    font-size: 14px;
    line-height: 16px;
    color: #e0e0e0;
}
.contacts-form__email {
    margin-bottom: 23px;
}
.contacts-form__textarea {
    position: relative;
    height: 115px;
    margin-bottom: 32px;
}
.textarea__text {
    position: absolute;
    bottom: 101px;
    left: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
    background-color: #333333;
}
.textarea {
    width: 100%;
    height: 115px;
    margin-top: 5px;
    background-color: #333333;
    resize: none;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 3px;
    color: #e0e0e0;
}
.contacts-form__checkbox {
    display: flex;
    margin-bottom: 20px;
}
.contacts-form__checkbox::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 13px;
    height: 13px;
    background-color: #333333;
    border: 1px solid #bdbdbd;
}
.checkbox__text {
    margin-left: 8px;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
}
.contacts-form__btn {
    position: absolute;
    bottom: 0;
    left: 261px;
    width: 108px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #333333;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
}
.contacts-box {
    margin-top: 35px;
}
.contacts__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fefefe;
}
.contacts-box > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
    margin-bottom: 5px;
}
.contacts-box__phone {
    margin-top: 20px;
}
.footer__social {
    width: 125px;
    height: 19px;
    margin-top: 28px;
}
.footer__social_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line {
    width: 100%;
    height: 1px;
    margin-top: 58px;
    border-top: 0.5px solid #fefefe;
}
.author,
.school {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #bdbdbd;
}
.author {
    margin-top: 27px;
}
.school {
    margin-top: 5px;
}