html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    height: 94px;
    padding-top: 26px;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.08);
}
.wrapper {
    width: 84.375%;
    margin: 0 auto;
}
@media (max-width: 1200px) {

    .wrapper {
        width: 75%;
    }

}
@media (max-width: 640px) {

    .wrapper {
        width: 93.75%;
    }

}
.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin: 0;
    font-size: 0.1px;
}
.main-nav {
    width: 573px;
    height: 23px;
}
.main-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.main-nav-list li {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
}
.main-nav-list li.active {
    font-weight: 900;
    text-decoration: underline;
}
.main-nav-list li a {
    color: #333333;
}
.main-nav-list li a:hover {
    font-weight: 900;
    transition: all 0.3s ease-out;
}
.active a:hover {
    cursor: default;
}
.toggle-button {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 30px;
    margin: 0;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggle-button::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 1.5px;
    width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
.toggle-button:checked::after {
    transform: translateX(90%);
    background-color: #1b1b1b;
}
.toggle-button:checked {
    background-color: #4f4f4f;
}
.burger {
    width: 40px;
    height: 21px;
    background-image: url("../../../assets/icons/menu.svg");
    display: none;
}
.switch {
    display: flex;
}
@media (max-width: 980px) {

    .main-nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .switch {
        width: 21%;
        justify-content: space-between;
        align-items: center;
    }

}
@media (max-width: 640px) {

    body {
        padding-top: 94px;
    }
    .header {
        position: fixed;
        top: 0;
        height: 94px;
        background: #FFFFFF;
        box-shadow: 0 4px 8px rgba(44, 101, 77, 0.08);
        z-index: 10;
    }

}
@media (max-width: 500px) {

    .header {
        height: 92px;
    }
    .switch {
        width: 40%;
    }

}

/*btn*/
.btn {
    width: 245px;
    height: 55px;
    margin: 0 auto;
    background-image: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
    border-radius: 3px;
    border: none;
    color: #ffffff;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
.btn:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s;
    background-image: linear-gradient(106.89deg, #4BD8B9 -14.32%, #3ec7d0 100.68%);
}
.btn-watch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
.btn-watch__img {
    margin-right: 5px;
}

/*main*/
.main {
    display: flex;
    height: 910px;
    background: #fbfbfb;
}
.container {
    width: 1200px;
    margin: 60px auto 0;
}
/*sidebar*/
.sidebar {
    width: 209px;
    height: 597px;
    position: sticky;
    top: 60px;
    margin-top: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sidebar-slider {
    height: 511px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.arrowUp:hover path,
.arrowDown:hover path {
    fill: #333333;
}
.arrowUp:hover,
.arrowDown:hover {
    cursor: pointer;
}
.img {
    position: relative;
    z-index: 3;
    background-size: cover;
    width: 108px;
    height: 108px;
    background-position: center;
    border-radius: 50%;
}
.img:hover {
    transform: scale(1.3);
    transition: 1s;
}
div.circle-active {
    position: relative;
    width: 157px;
    height: 157px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(7,238,224,1) 0%, rgba(223,73,109,1) 100%);: linear-gradient(90deg, rgba(7,238,224,1) 0%, rgba(223,73,109,1) 100%);
    z-index: 1;
}
div.circle-active:hover {
    transform: none;
}
.circle-white {
    position: absolute;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 2;
}
.gorilla {
    background-image: url("../../../assets/images/gorillacirk.jpg");
}
.panda {
    background-image: url("../../../assets/images/pandacirkl.jpg");
}

.crocodile {
    background-image: url("../../../assets/images/crocodilecirk.jpg");
}
.eagles{
    background-image: url("../../../assets/images/eaglescirk.jpg");
    position: absolute;
    left: 15%;
}
div.sidebar-active {
    transform: scale(1.3);
    margin-top: 24px;
    margin-bottom: 24px;
}
/*section*/
h2 {
    margin-bottom: 40px;
    margin-left: 7.85vw;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #333333;
}
h3 {
    margin: 0;
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}
.inf__text {
    margin-top: 7px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    color: #4f4f4f;
    font-weight: 400;
}
.information {
    display: flex;
    margin-left: 7.85vw;
}
.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.video {
    width: 41.2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.video > iframe {
    flex-basis: 100%;
    height: 442px;
    margin-bottom: 30px;
    border-radius: 2%;
}
.video > div {
    position: relative;
    width: 12.79vw;
    margin-bottom: 30px;
}
.video > div iframe {
    width: 100%;
    height: 141px;
    border-radius: 5%;
}
.window1,
.window2,
.window3 {
    position: absolute;
    top: 0;
    width: 12.79vw;
    height: 141px;
}
.dots {
    width: 37px;
    height: 11px;
    display: flex;
    justify-content: space-between;
}
.dots > div {
    width: 8px;
    height: 8px;
    background: #c4c4c4;
    border-radius: 50%;
}
.dots > div:hover {
    cursor: pointer;
    transform: scale(1.4);
    transition: 0.5s;
    background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}
.inf {
    width: 19.55vw;
    margin-left: 30px;
}
.feed {
    width: 194px;
    height: 55px;
    margin-top: 22px;
}
@media (max-width: 1200px) {
    .main {
        height: 715px;
    }
    .container {
        width: 76.75vw;
        margin: 60px auto 0;
    }
    .sidebar {
        height: 524px;
        width: 151px;
    }
    .sidebar-slider {
        height: 438px;
    }
    .img {
        width: 96px;
        height: 96px;
    }
    div.circle-active {
        width: 120px;
        height: 120px;
    }
    div.sidebar-active {
        transform: scale(1.15);
    }
    .img:hover {
        transform: scale(1.15);
    }
    .eagles {
        left: 9%;
        top: -11%;
    }
    h2 {
        margin-left: 4.1vw;
    }
    .information {
        margin-left: 4.1vw;
    }
    .video {
        width: 44vw;
    }
    .video > iframe {
        height: 297px;
        margin-bottom: 27px;
    }
    .video > div {
        width: 13.71vw;
    }
    .window1,
    .window2,
    .window3 {
        width: 13.71vw;
        height: 94px;
    }
    .video > div iframe {
        height: 94px;
    }
    .inf {
        width: 21vw;
        margin-left: 19px;
    }
    .inf__text {
        margin-bottom: 15px;
    }
    .feed {
        width: 185px;
        height: 53px;
        margin-top: 5px;
    }

}
@media (max-width: 640px) {
    .main {
        height: 982px;
    }
    .container {
        width: 80.7vw;
    }
    .sidebar {
        height: 416px;
        width: 103px;
        top: 90px;
    }
    .sidebar-slider {
        height: 330px;
    }
    .img {
        width: 70px;
        height: 70px;
    }
    div.circle-active {
        width: 90px;
        height: 90px;
    }
    .circle-white {
        left: 2%;
    }
    .eagles {
        left: 10%;
        top: -17%;
    }
    h2 {
        margin-left: 4.7vw;
        margin-bottom: 35px;
    }
    .information {
        flex-direction: column;
        margin-left: 3.1vw;
    }
    .video {
        width: 100%;
    }
    .video > iframe {
        height: 280px;
        margin-bottom: 15px;
    }
    .video > div {
        width: 24.2vw;
    }
    .window1,
    .window2,
    .window3 {
        width: 24.2vw;
        height: 89px;
    }
    .video > div iframe {
        height: 89px;
    }
    .inf {
        width: 100%;
        margin-left: 0;
        margin-top: 47px;
    }
    .inf__text {
        margin-bottom: 12px;
    }
    .feed {
        margin-top: 16px;
    }

}
@media (max-width: 550px) {
    .video {
        width: 93%;
    }
    .video > iframe {
        max-width: 100%;
    }
    .video > div {
        width: 30%;
    }
    .window1, .window2, .window3 {
        width: 30%
    }
}

@media (max-width: 470px) {

    .main {
        height: 682px;
    }
    .container {
        width: 77vw;
        margin: 33px auto 60px;
    }
    .sidebar {
        height: 266px;
        width: 75px;
        margin-top: 35px;
    }
    .sidebar-slider {
        height: 198px;
    }
    .img {
        width: 40px;
        height: 40px;
    }
    div.circle-active {
        width: 65px;
        height: 65px;
    }
    div.sidebar-active {
        transform: scale(1.43);
    }
    .img:hover {
        transform: scale(1.43);
    }
    .circle-white {
        left: 0.5%;
        top: 0.5%;
    }
    .eagles {
        left: 18%;
        top: -19%;
    }
    h2 {
        margin-left: 8.7vw;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 28px;
    }
    .information {
        margin-left: 0.4vw;
    }
    .video {
        width: 205px;
    }
    .video > iframe {
        max-width: 205px;
        height: 116px;
        margin-bottom: 10px;
    }
    .video > div {
        width: 48%;
        margin-bottom: 18px;
    }
    .window1,
    .window2,
    .window3 {
        width: 30.5vw;
        height: 56px;
    }
    .video > div iframe {
        height: 56px;
    }
    .picture3 {
        display: none;
    }
    h3 {
        font-size: 14px;
        line-height: 16px;
    }
    .inf__text {
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 16px;
    }
    .inf {
        width: 63vw;
        margin-left: 6.3vw;
        margin-top: 29px;
    }
    .feed {
        margin-top: 1px;
    }

}

/*footer*/
.footer {
    width: 100%;
    height: 751px;
    background: #333333;
    padding-top: 100px;
    box-sizing: border-box;
}
.footer-top {
    height: 54px;
    display: flex;
    align-items: center;
    margin-bottom: 57px;
}
.footer-logo {
    flex-basis: 51%;
}
.footer-top__box {
    flex-basis: 49%;
    display: flex;
}
.footer-nav {
    width: 378px;
    margin-right: 140px;
}
.footer-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #fefefe;
}
.footer-nav__list li a {
    color: #fefefe;
}
.footer-nav__list li a:hover {
    font-weight: 900;
    transition: all 0.3s ease-out;
}
.active a:hover {
    cursor: default;
}
.donate {
    width: 275px;
    font-weight: 500;
}
h4 {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    margin: 0;
}
.contacts-container {
    display: flex;
}
.contacts-form-container {
    flex-basis: 51%;
}
.contacts {
    flex-basis: 49%;
}
.contacts-form__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
    color: #fefefe;
    margin-bottom: 33px;
}
.contacts-form {
    position: relative;
    width: 383px;
    height: 292px;
    display: flex;
    flex-direction: column;
}
.contacts-form__name,
.contacts-form__email {
    height: 23px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    background-color: #333333;
    font-size: 14px;
    line-height: 16px;
    color: #e0e0e0;
}
.contacts-form__email {
    margin-bottom: 23px;
}
.contacts-form__textarea {
    position: relative;
    height: 115px;
    margin-bottom: 32px;
}
.textarea__text {
    position: absolute;
    bottom: 101px;
    left: 10px;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
    background-color: #333333;
}
.textarea {
    width: 100%;
    height: 115px;
    margin-top: 5px;
    background-color: #333333;
    resize: none;
    border: 1px solid #bdbdbd;
    box-sizing: border-box;
    border-radius: 3px;
    color: #e0e0e0;
}
.contacts-form__checkbox {
    display: flex;
    margin-bottom: 20px;
}
.contacts-form__checkbox::before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 13px;
    height: 13px;
    background-color: #333333;
    border: 1px solid #bdbdbd;
}
.checkbox__text {
    margin-left: 8px;
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
}
.contacts-form__btn {
    position: absolute;
    bottom: 0;
    left: 261px;
    width: 108px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #333333;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
}
.contacts-box {
    margin-top: 35px;
}
.contacts__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #fefefe;
}
.contacts-box > p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #fefefe;
    margin-bottom: 5px;
}
.contacts-box__phone {
    margin-top: 20px;
}
.footer__social {
    width: 125px;
    height: 19px;
    margin-top: 18px;
}
.footer__social_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line {
    width: 100%;
    height: 1px;
    margin-top: 58px;
    border-top: 0.5px solid #fefefe;
}
.author,
.school {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #bdbdbd;
}
.author {
    margin-top: 27px;
}
.school {
    margin-top: 5px;
}
@media (max-width: 1200px) {

    .footer {
        height: 738px;
    }
    .footer-top__box {
        position: relative;
    }
    .donate {
        position: absolute;
        top: 305px;
        right: 37.75%;
    }
    .contacts {
        position: relative;
        top: -12px;
    }
    .footer-nav {
        margin-right: 0;
    }
    .contacts-form__btn {
        bottom: 3px;
    }
    .contacts-form__textarea {
        margin-bottom: 28px;
    }
    .author {
        margin-top: 32px;
    }

}
@media (max-width: 1100px) {

    .contacts-form-container {
        flex-basis: 75%;
    }
    .contacts {
        flex-basis: 25%;
    }
    .donate {
        right: -5vw;
    }

}
@media (max-width: 900px) {

    .donate {
        right: -12vw;
    }

}
@media (max-width: 760px) {

    .footer {
        height: 1068px;
        padding-top: 50px;
    }
    .footer-top {
        flex-direction: column;
        width: 51px;
        height: 164px;
        margin-bottom: 22px;
        margin-top: 46px;
    }
    .footer-logo {
        flex-basis: 45%;
    }
    .footer-nav {
        height: 91px;
        width: 51px;
    }
    .footer-nav__list {
        flex-direction: column;
        align-items: flex-start;
    }
    .contacts-container {
        flex-direction: column;
        width: 64%;
    }
    .contacts-form-container {
        margin-bottom: 72px;
    }
    .contacts-form__title {
        margin-bottom: 36px;
    }
    .contacts-form__textarea {
        margin-bottom: 27px;
    }
    .contacts-form {
        width: 100%;
    }
    .contacts {
        position: static;
    }
    .contacts-form__btn {
        left: 261px;
        bottom: 5px;
    }
    .donate {
        top: -73px;
        right: -75vw;
    }
    .line {
        margin-top: 62px;
    }

}
@media (max-width: 640px) {

    .donate {
        top: -73px;
        right: -86vw;
    }
    .line {
        margin-top: 72px;
    }
    .author {
        margin-top: 26px;
    }

}
@media (max-width: 550px) {

    .footer {
        height: 1100px;
        padding-top: 3px;
    }
    .footer-top {
        height: 176px;
        margin-top: 46px;
    }
    .footer-logo {
        flex-basis: 49%;
    }
    .footer-top__box {
        flex-basis: 41%;
    }
    .contacts-container {
        width: 100%;
    }
    .contacts-form__title {
        margin-bottom: 31px;
    }
    .contacts-form__name {
        height: 27px;
        margin-bottom: 17px;
    }
    .contacts-form__email {
        height: 27px;
        margin-bottom: 24px;
    }
    .contacts-form__btn {
        left: 192px;
        bottom: 1px;
    }
    .contacts-form-container {
        margin-bottom: 54px;
    }
    .line {
        margin-top: 182px;
    }
    .donate {
        top: 743px;
        left: -8vw;
    }

}
@media (max-width: 320px) {
    .contacts-form__btn {
        left: 60vw;
    }
}